#list{
    height: 250px !important;
    width: 100%;
    padding: 5px 15px;
}
input{outline: 0;}

.lista-item{
    width: 100%;
    height: 50px;
    background-color: #17a2b8;
    border: 0px;
    border-radius: 8px;
    font-size: 20px;
    padding-left: 5%;
    margin-bottom: 2.5%;
}
.lista-item  input:disabled{
    margin: 0; 
    font-weight: 700;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 110%;
    border: 0px;
    color: rgb(26, 26, 26);
    user-select: none !important;
    font-weight: 500;
}

.alert{
    padding: 7px 0px 7px 7px;
    display: none;
}
.alert:nth-child(2){
    background-color: rgb(255, 235, 119);
}
.alert:nth-child(3){
    color: #fff;
    background-color: rgb(255, 46, 46);
}
.alert:nth-child(4){
    background-color: rgb(255, 235, 119);
}
.lista-item  span:hover, span{cursor: pointer;user-select: none;padding-top: 7px;}
.lista-item img{height: 20px; width: 20px;margin-top:2px;}
#form form {position: fixed;}